/* Using CSS to make tooltips that open over an image map.
 * This one is for MINITAB layout.*/

#minitabmap {
position:relative;
height:776px; /* height of image map */
width:528px; /* width of image map */
margin-right:20px;
background:url(MINITAB.jpg);
float: left;
}

a:hover {
visibility:visible; /* Fixes IE6 Bug */
}

.tooltip {
    color:#000;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
}

/*** Worksheet image map */

#menu.tooltip { 
top:30px;
left:7px;
height:24px;
width:512px;
}
#buttonBar.tooltip { 
top:54px;
left:7px;
height:54px;
width:512px;
}
#sessionWindow.tooltip { 
top:108px;
left:7px;
width:512px;
height:306px;
}
#worksheetCells.tooltip { 
top:498px;
left:56px;
width:459px;
height:225px;
}
#worksheetColnum.tooltip {
top:456px;
left:56px;
width:435px;
height:20px;
}

#worksheetColname.tooltip {
top:477px;
left:56px;
width:435px;
height:20px;
}

#worksheetRownum.tooltip {
top:499px;
left:7px;
width:42px;
height:221px;
}

.tooltip span { 
position:absolute;
left:-999em; 
opacity:.9; /* FX/Opera/Safari/Chrome */
-ms-filter:"alpha(opacity=90)"; /* IE8 */
filter:alpha(opacity=90); /* IE6/IE7 */
border-radius:8px;
box-shadow:#000 2px 2px 6px;
} 
.tooltip:hover span, .tooltip:focus span {
left:40px;
top:0px;
width:120px;
padding:10px;  
border:2px solid #000;
background:#f2f2f2;
}


/* This part goes into the HTML
 * 
 * In the header:
 * 
 *    <link href="minitab_image_map_relative.css" rel="stylesheet" type="text/css">
 
 *
 *           <div id="minitabmap"> 
                <a href="#" id="menu" class="tooltip"><span>Menu bar</span></a> 
                <a href="#" id="buttonBar" class="tooltip"><span>Button bar - quick access to often-used features</span></a> 
                <a href="#" id="sessionWindow" class="tooltip"><span>Session window - all text output appears here.</span></a> 
                <a href="#" id="worksheetCells" class="tooltip"><span>Worksheet - made up of cells.</span></a> 
              </div>
              
             

              
*/
