.likelihood_wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 600px;
  width: 1000px;
}

.like_type {
	grid-row:1;
	grid-column: 5/9;
}

.left_graph {
	grid-row: 2/9;
	grid-column: 1/5;
}

.right_graph {
	grid-row: 2/9;
	grid-column: 5/9;
}

.settings {
	grid-row: 1;
	grid-column: 1/5;
}

