.likelihood_wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 500px;
  width: 900px;
  padding: 6px;
}

.data_values {
	grid-row:1;
	grid-column:1/5;
}

.like_type {
	grid-row:1;
	grid-column: 5/9;
}

.ind_value_like {
	grid-row: 2/7;
	grid-column: 1/6;
}

.formula_like {
	grid-row: 3/5;
	grid-column: 6/9;
}

.slider {
	grid-row: 7/9;
	grid-column: 1/6;
}
