@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Open+Sans|Ubuntu+Mono');

html {
    
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    
}

body {
	margin:0;
	padding:0 10px 0 10px;
	height:100%;
	overflow-y:auto;
}


#content {
	margin:61px 0px 0px 0px;
	display:block;
	padding:10px;
}

#header {
	display:block;
	top:0px;
	left:0px;
	width:100%;
	height: 60px;
	position:fixed;
	background-color: #ffffff;
	border:1px solid #888;
    z-index: 10;
}

#navigation {
	display:none;
	top:61px;
	left:0px;
	width:200px;
	height: 100%;
	position:fixed;
	border:1px solid #888;
	background-color: #ffffff;
    padding: 5px;
    z-index: 10;
}

#navigation p a .tooltip {

    font-size: 12px;
    color: red;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-top: 0em;
    margin-bottom: 2em;

}

#header button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.part:before {
    content: "";
    display: block;
    margin: -61px 0 0;
    height: 61px;
}

h1 {
    margin: 0;
    font: bold 40px 'Crimson Text', serif;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

h4 {
    font-size: 18px;
    font-style: italic;
    text-align: left;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1px;
}

li {

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 5px;
    letter-spacing: 1px;

}

blockquote {
    background: #f5f5fb; 
    border: 1px solid; 
    padding: 10px;
    
}

.Excel {
    font-family: 'Lato', sans-serif;
    color: #4D0099;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */

}

.R-code {

    font-family: 'Courier New', monospace;

}

.tableSmall {

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: center;
}

.tableSmall td {

    border: 1px solid black;
    padding: 10px;
}

.tableSmall th {
    border: 1px solid black;
    background-color: #ffffb3;
    padding: 10px;
}

.tableLarge {

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
}

.tableLarge td {

    border: 1px solid black;
    padding: 10px;

}

.tableLarge th {

    border: 1px solid black;
    background-color: #ffffb3;
    padding: 10px;
}

.minitab {

    font-family: "Courier New", monospace;
    font-size: 16px;
}

.rout {

    font-family: 'Ubuntu Mono';

}

.rcmd {
    font-family: 'Ubuntu Mono';
    color: #0000FF;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.rmd {
   font-family: 'Ubuntu Mono';
   color: #4F4F4F;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.rconsole {
    font-family: 'Ubuntu Mono';
    color: #0000FF;
}

.rerror {
    font-family: 'Ubuntu Mono';
    color: #FF0000;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Popup image container */
.popup {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Popup image */
.popup .popupimage {
    visibility: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.popup:hover .popupimage {
    visibility: visible;
}

/* Tab styling */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffffe0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Styling for sliders, used in likelihood apps */


input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #000000;
	border-radius: 25px;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #000000;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #000000;
}
input[type=range]::focus::-moz-range-track {
    background: #000000;
}

.range-wrap{
	width: 500px;
	position: relative;
}
.range-value{
	position: absolute;
	top: -50%;
}
.range-value span{
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #ffffff;
	color: #000000;
	font-size: 18px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #03a9f4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}
