/* Using CSS to make tooltips that open over an image map.
 * This one is for an image with the formula for the mean.*/
#rstudio_map {
position:relative;
height:802px; /* height of image map */
width:1037px; /* width of image map */
margin-right:20px;
margin-bottom: 20px;
background:url(rstudio.png);
float: left;
}


a:hover {
visibility:visible; /* Fixes IE6 Bug */
}
.tooltip {
    color:#000;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
}

/*** Worksheet image map */

#console.tooltip { 
top:120px;
left:15px;
height:660px;
width:500px;
}
#fileMenu.tooltip { 
top:4px;
left:10px;
width:478px;
height:43px;
}
#projectMenu.tooltip { 
top:53px;
left:912px;
width:100px;
height:15px;
}
#environmentTab.tooltip { 
top:81px;
left:525px;
width:85px;
height:18px;
}

#historyTab.tooltip { 
top:81px;
left:613px;
width:53px;
height:18px;
}

#filesTab.tooltip { 
top:345px;
left:526px;
width:38px;
height:18px;
}

#plotsTab.tooltip { 
top:345px;
left:566px;
width:38px;
height:18px;
}

#packagesTab.tooltip { 
top:345px;
left:613px;
width:67px;
height:18px;
}

#helpTab.tooltip { 
top:345px;
left:679px;
width:38px;
height:18px;
}




.tooltip span { 
position:absolute;
left:-999em; 
opacity:.9; /* FX/Opera/Safari/Chrome */
-ms-filter:"alpha(opacity=90)"; /* IE8 */
filter:alpha(opacity=90); /* IE6/IE7 */
border-radius:8px;
box-shadow:#000 2px 2px 6px;
} 
.tooltip:hover span, .tooltip:focus span {
left:40px;
top:-60px;
width:120px;
padding:10px;  
border:2px solid #000;
background:#f2f2f2;
}

/* This part goes into the HTML
 * 
 *            <div id="worksheetmap"> 
                <a href="#" id="columnIndex" class="tooltip"><span>Column index - capital letters</span></a> 
                <a href="#" id="rowIndex" class="tooltip"><span>Row index - numbers</span></a> 
                <a href="#" id="cells" class="tooltip"><span>Cells - each cell can be referenced by its column index and row index (the upper left cell is A1).</span></a> 
                <a href="#" id="formula" class="tooltip"><span>Formula bar - the contents of the selected cell can be edited here.</span></a> 
              </div>
              
              <div id="homebuttonmap">
                <a href="#" id="clpbd" class="tooltip"><span>Clipboard - copy, paste editing tools</span></a> 
                <a href="#" id="font" class="tooltip"><span>Font - change font style, color, size</span></a> 
                <a href="#" id="algnmt" class="tooltip"><span>Alignment - alignment of cell contents</span></a> 
                <a href="#" id="number" class="tooltip"><span>Number - formatting of numbers, including style (money, percent) and number of decimals displayed</span></a> 
                <a href="#" id="celltools" class="tooltip"><span>Cells - inserting, deleting, formating cells</span></a> 
                <a href="#" id="editing" class="tooltip"><span>Editing - summing cells, filling a series, sorting and filtering</span></a> 
            </div>
            
            <div id="insertbuttonmap">
                <a href="#" id="pivot" class="tooltip"><span>Pivot tables - insert a pivot table</span></a> 
                <a href="#" id="chart" class="tooltip"><span>Chart - insert a new chart</span></a> 
            </div>

              
*/
