/* Using CSS to make tooltips that open over an image map.
 * This one is for an image with the formula for the mean.*/
#map {
position:relative;
height:275px; /* height of image map */
width:288px; /* width of image map */
margin:20px auto;
background:url(mean.png);
float: left;
}
a:hover {
visibility:visible; /* Fixes IE6 Bug */
}
.tooltip {
    color:#000;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
}
#sigma.tooltip { 
top:48px;
left:120px;
height:87px;
width:70px;
}
#xbar.tooltip { 
top:170px;
left:20px;
width:30px;
height:40px;
}
#n_index.tooltip { 
top:18px;
left:148px;
width:15px;
height:20px;
}
#n_samplesize.tooltip { 
top:224px;
left:177px;
width:32px;
height:35px;
}
#i_index.tooltip { 
top:150px;
left:128px;
width:58px;
height:30px;
}
#x_i.tooltip { 
top:83px;
left:220px;
width:30px;
height:50px;
}
.tooltip span { 
position:absolute;
left:-999em; 
opacity:.9; /* FX/Opera/Safari/Chrome */
-ms-filter:"alpha(opacity=90)"; /* IE8 */
filter:alpha(opacity=90); /* IE6/IE7 */
border-radius:8px;
box-shadow:#000 2px 2px 6px;
} 
.tooltip:hover span, .tooltip:focus span {
left:40px;
top:-60px;
width:120px;
padding:10px;  
border:2px solid #000;
background:#f2f2f2;
}

/* This part goes into the HTML
 * 
 *               <div id="map"> 
                <a href="#" id="sigma" class="tooltip"><span>Sigma - summation sign, sum all values to the right</span></a> 
                <a href="#" id="xbar" class="tooltip"><span>X-bar, the mean of the data.</span></a> 
                <a href="#" id="n_index" class="tooltip"><span>Sample size, a count of data values. Here it says to sum to the last data point.</span></a> 
                <a href="#" id="n_samplesize" class="tooltip"><span>Sample size, a count of data values.</span></a> 
                <a href="#" id="i_index" class="tooltip"><span>An index, indicating which data value to start summing from. i=1 means to start with the first.</span></a>
                <a href="#" id="x_i" class="tooltip"><span>The i'th data value. When i is 1 it's the first, when i is n it's the last.</span></a>
              </div>
*/
