/*-- scss:defaults --*/

@import url('https://googleapis.com');

$font-family-sans-serif: 'Roboto', sans-serif;

$font-family-monospace: 'Roboto Mono', monospace;

$presentation-heading-font: 'Roboto', sans-serif;

$presentation-font-size-root: 30pt;

/*-- scss:rules --*/

.reveal h2 {
    text-align: center;
}
.reveal h1 {
    text-align: center;
}
// SCSS
ul, ol {
  // Styles for first-order items
  // Targeting nested (second-order) lists
  li > ul, li > ol {
    font-size: 0.8em; // Slightly smaller size
    padding-left: 20px; // Reduce indentation
  }
}
.table-small {
  font-size: 0.6em; // Explicit smaller size

  th, td {
    font-size: inherit; // Ensures children use the 13px
  }
}



.centered-bg .slide-background-content iframe {
  width: 80% !important;
  height: 80% !important;
  margin: auto !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.centered-bg-bigger .slide-background-content iframe {
  width: 90% !important;
  height: 90% !important;
  margin: auto !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.centered-bg-biggest .slide-background-content iframe {
  width: 100% !important;
  height: 100% !important;
  margin: auto !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.asides {
  font-size: 0.7em;
  font-style: italic;
}

.reveal section img.bordered-image {
  border: 4px solid yellow !important;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.flashing-arrow {
  animation: flash 1s infinite;
}

.r-output-look {
  background-color: #f8f9fa;
  border-left: 4px solid #ccc;
  font-family: monospace;
  padding: 4px 8px;
  display: inline-block;
}

.lightbox img {
  border: 3px solid green !important;
}
