/* Using CSS to make tooltips that open over an image map.
 * This one is for an image with the formula for the mean.*/
#corrmap {
position:relative;
height:206px; /* height of image map */
width:660px; /* width of image map */
margin-right:20px;
margin-bottom: 20px;
background:url(correlation_matrix_imagemap.png);
float: left;
}


a:hover {
visibility:visible; /* Fixes IE6 Bug */
}
.tooltip {
    color:#000;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
}

/*** Worksheet image map */

#rowvars.tooltip { 
top:46px;
left:5px;
height:155px;
width:100px;
}
#colvars.tooltip { 
top:5px;
left:144px;
width:511px;
height:40px;
}
#lowertri1.tooltip { 
top:67px;
left:144px;
width:71px;
height:132px;
}
#lowertri2.tooltip { 
top:89px;
left:217px;
width:71px;
height:110px;
}
#lowertri3.tooltip { 
top:111px;
left:292px;
width:71px;
height:88px;
}
#lowertri4.tooltip { 
top:133px;
left:366px;
width:71px;
height:66px;
}
#lowertri5.tooltip { 
top:155px;
left:440px;
width:71px;
height:44px;
}
#lowertri6.tooltip { 
top:177px;
left:510px;
width:71px;
height:22px;
}

#uppertri1.tooltip { 
top:45px;
left:217px;
width:71px;
height:22px;
}
#uppertri2.tooltip { 
top:45px;
left:290px;
width:71px;
height:44px;
}
#uppertri3.tooltip { 
top:45px;
left:363px;
width:71px;
height:66px;
}
#uppertri4.tooltip { 
top:45px;
left:436px;
width:71px;
height:88px;
}
#uppertri5.tooltip { 
top:45px;
left:509px;
width:71px;
height:110px;
}
#uppertri6.tooltip { 
top:45px;
left:582px;
width:71px;
height:132px;
}
#maindiag1.tooltip { 
top:47px;
left:144px;
width:70px;
height:20px;
}

#maindiag2.tooltip { 
top:69px;
left:218px;
width:70px;
height:20px;
}

#maindiag3.tooltip { 
top:91px;
left:290px;
width:70px;
height:20px;
}

#maindiag4.tooltip { 
top:114px;
left:366px;
width:70px;
height:20px;
}

#maindiag5.tooltip { 
top:135px;
left:437px;
width:70px;
height:20px;
}

#maindiag6.tooltip { 
top:157px;
left:510px;
width:70px;
height:20px;
}

#maindiag7.tooltip { 
top:178px;
left:583px;
width:70px;
height:20px;
}

.tooltip span { 
position:absolute;
left:-999em; 
opacity:.9; /* FX/Opera/Safari/Chrome */
-ms-filter:"alpha(opacity=90)"; /* IE8 */
filter:alpha(opacity=90); /* IE6/IE7 */
border-radius:8px;
box-shadow:#000 2px 2px 6px;
} 
.tooltip:hover span, .tooltip:focus span {
left:40px;
top:-60px;
width:120px;
padding:10px;  
border:2px solid #000;
background:#f2f2f2;
}

/* This part goes into the HTML
 * 
 *            <div id="worksheetmap"> 
                <a href="#" id="columnIndex" class="tooltip"><span>Column index - capital letters</span></a> 
                <a href="#" id="rowIndex" class="tooltip"><span>Row index - numbers</span></a> 
                <a href="#" id="cells" class="tooltip"><span>Cells - each cell can be referenced by its column index and row index (the upper left cell is A1).</span></a> 
                <a href="#" id="formula" class="tooltip"><span>Formula bar - the contents of the selected cell can be edited here.</span></a> 
              </div>
              
              <div id="homebuttonmap">
                <a href="#" id="clpbd" class="tooltip"><span>Clipboard - copy, paste editing tools</span></a> 
                <a href="#" id="font" class="tooltip"><span>Font - change font style, color, size</span></a> 
                <a href="#" id="algnmt" class="tooltip"><span>Alignment - alignment of cell contents</span></a> 
                <a href="#" id="number" class="tooltip"><span>Number - formatting of numbers, including style (money, percent) and number of decimals displayed</span></a> 
                <a href="#" id="celltools" class="tooltip"><span>Cells - inserting, deleting, formating cells</span></a> 
                <a href="#" id="editing" class="tooltip"><span>Editing - summing cells, filling a series, sorting and filtering</span></a> 
            </div>
            
            <div id="insertbuttonmap">
                <a href="#" id="pivot" class="tooltip"><span>Pivot tables - insert a pivot table</span></a> 
                <a href="#" id="chart" class="tooltip"><span>Chart - insert a new chart</span></a> 
            </div>

              
*/
